Import relevant libraries

In [3]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler

Load dataset

In [5]:
import os
os.getcwd()

'/Users/jensengbe'

In [8]:
df = pd.read_csv('/Users/jensengbe/Desktop/School/Data Mining/Predictive Analysis/Data Files/d9rkejv84kd9rk30fi2l/churn_clean.csv')

Preview dataset

In [11]:
df.head(10)

,CaseOrder,Customer_id,Interaction,UID,City,State,County,Zip,Lat,Lng,...,MonthlyCharge,Bandwidth_GB_Year,Item1,Item2,Item3,Item4,Item5,Item6,Item7,Item8
0,1,K409198,aa90260b-4141-4a24-8e36-b04ce1f4f77b,e885b299883d4f9fb18e39c75155d990,Point Baker,AK,Prince of Wales-Hyder,99927,56.25100,-133.37571,...,172.455519,904.536110,5,5,5,3,4,4,3,4
1,2,S120509,fb76459f-c047-4a9d-8af9-e0f7d4ac2524,f2de8bef964785f41a2959829830fb8a,West Branch,MI,Ogemaw,48661,44.32893,-84.24080,...,242.632554,800.982766,3,4,3,3,4,3,4,4
2,3,K191035,344d114c-3736-4be5-98f7-c72c281e2d35,f1784cfa9f6d92ae816197eb175d3c71,Yamhill,OR,Yamhill,97148,45.35589,-123.24657,...,159.947583,2054.706961,4,4,2,4,4,3,3,3
3,4,D90850,abfa2b40-2d43-4994-b15a-989b8c79e311,dc8a365077241bb5cd5ccd305136b05e,Del Mar,CA,San Diego,92014,32.96687,-117.24798,...,119.956840,2164.579412,4,4,4,2,5,4,3,3
4,5,K662701,68a861fd-0d20-4e51-a587-8a90407ee574,aabb64a116e83fdc4befc1fbab1663f9,Needville,TX,Fort Bend,77461,29.38012,-95.80673,...,149.948316,271.493436,4,4,4,3,4,4,4,5
5,6,W303516,2b451d12-6c2b-4cea-a295-ba1d6bced078,97598fd95658c80500546bc1dd312994,Fort Valley,GA,Peach,31030,32.57032,-83.89040,...,185.007692,1039.357983,3,3,3,2,4,3,3,3
6,7,U335188,6630d501-838c-4be4-a59c-6f58c814ed6a,87d1c4223e49156020564c01a88973b9,Pioneer,TN,Scott,37847,36.43420,-84.27892,...,200.118516,1907.242972,6,5,6,4,1,5,5,5
7,8,V538685,70ddaa89-b726-49dc-9022-2d655e4c7936,fce3f21888317907de42e298d718ccce,Oklahoma City,OK,Oklahoma,73109,35.43313,-97.52463,...,114.950905,979.612708,2,2,2,5,2,3,4,5
8,9,M716771,05a49ee3-8fd5-453a-a5f3-82b6cd986856,6c7043ced703b84de29766af3d53c976,Saint Cloud,FL,Osceola,34771,28.27646,-81.16273,...,117.468591,1312.874964,5,4,4,3,4,3,4,4
9,10,I676080,86f17e4d-2c24-4b70-a6ec-dddf0609dbaa,6ffe183271258a039e122ced8750b2a0,Cincinnati,OH,Hamilton,45237,39.19296,-84.45230,...,162.482694,508.763791,2,2,2,2,5,2,3,3

Select relevant columns and drop any rows with missing values

In [13]:
selected_features = [
    'Tenure', 'Bandwidth_GB_Year', 'Age', 'Income', 'Children',
    'Outage_sec_perweek', 'Yearly_equip_failure',
    'Contract', 'InternetService', 'PaymentMethod',
    'Gender', 'Marital', 'Techie', 'DeviceProtection',
    'OnlineSecurity', 'OnlineBackup', 'StreamingTV',
    'MonthlyCharge'
]

In [15]:
df_selected = df[selected_features].dropna()

Separate predictors (X_raw) and target (y)

In [17]:
X_raw = df_selected.drop('MonthlyCharge', axis=1)
y = df_selected['MonthlyCharge'].copy()

One-hot encode categorical variables

In [20]:
categorical_features = [
    'Contract', 'InternetService', 'PaymentMethod',
    'Gender', 'Marital', 'Techie', 'DeviceProtection',
    'OnlineSecurity', 'OnlineBackup', 'StreamingTV'
]

In [22]:
X_encoded = pd.get_dummies(X_raw, columns=categorical_features, drop_first=True)

Standardize numeric features to zero mean and unit variance

In [25]:
numeric_features = [
    'Tenure', 'Bandwidth_GB_Year', 'Age', 'Income',
    'Children', 'Outage_sec_perweek', 'Yearly_equip_failure'
]
scaler = StandardScaler()

In [27]:
X_encoded[numeric_features] = scaler.fit_transform(X_encoded[numeric_features])

Combine the processed predictors with the target into a final cleaned DataFrame

In [30]:
df_cleaned = pd.concat([X_encoded, y.reset_index(drop=True)], axis=1)

Display the first five rows to verify correctness

In [33]:
df_cleaned.head()

,Tenure,Bandwidth_GB_Year,Age,Income,Children,Outage_sec_perweek,Yearly_equip_failure,Contract_One year,Contract_Two Year,InternetService_Fiber Optic,...,Marital_Married,Marital_Never Married,Marital_Separated,Marital_Widowed,Techie_Yes,DeviceProtection_Yes,OnlineSecurity_Yes,OnlineBackup_Yes,StreamingTV_Yes,MonthlyCharge
0,-1.053474,-1.160279,0.726103,-0.399099,-0.967191,-0.674827,0.946424,True,False,True,...,False,False,False,True,False,False,True,True,False,172.455519
1,-1.266623,-1.207608,-1.263600,-0.642071,-0.502091,0.573455,0.946424,False,False,True,...,True,False,False,False,True,False,True,False,True,242.632554
2,-0.714836,-0.634596,-0.147425,-1.070642,0.893210,0.255986,0.946424,False,True,False,...,False,False,False,True,True,False,False,False,False,159.947583
3,-0.664445,-0.584379,-0.244484,-0.740559,-0.502091,1.651879,-0.627151,False,True,False,...,True,False,False,False,True,False,True,False,True,119.956840
4,-1.247183,-1.449610,1.454043,0.008815,-0.967191,-0.618097,0.946424,False,False,True,...,False,False,True,False,False,False,False,False,True,149.948316